<input class="form-control" type="text" (input)="onUpdateServerName($event)">
<input class="form-control" placeholder="{{serverName}}" type="text" [(ngModel)]="serverName">
<div class="p-4">
    <div class="lead">{{serverName}}</div>
</div>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerCreated()">Add New Server</button>
<app-server></app-server>
<app-server></app-server>

<div class="alert alert-primary" role="alert">
    <div class="lead">{{serverCreationStatus}}</div>
</div>